<h1>In Landing Component:</h1>

<button (click)="getPatientName()">Get Patient Name</button>
<!--<button (click)="getPatientGeneralInformation()">Get General Information</button>
<button (click)="getSmokingStatus()">Get smoking status</button>
<button (click)="getConditions()" >Get Conditions</button>
<button (click)="getImmunizations()">Get Immunizations</button>
<button (click)="getMedicationOrder()">Get Medication Order</button>
<button (click)="getWeight()">Get Weight</button>-->
<p>{{ptName}}</p>
<!--<p>{{patientGeneral}}</p>
<p>{{patientSmoking}}</p>
<p>{{patientConditions}}</p>
<p>{{patientImmunizations}}</p>
<p>{{patientMedicationOrder}}</p>
<p>{{patientWeight}}</p>-->
<!--<p>Address: {{patientAddress}}</p>-->

<p>End of landing Component</p>
